body { background: #864bef; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 36px; display: flex; }
.block-product-0 { color: #c3a320; font-size: 20px; margin-bottom: 5px; }
.block-logger-1 { color: #619e2b; font-size: 16px; margin-bottom: 5px; }
.block-search-2 { color: #35210b; font-size: 17px; margin-bottom: 5px; }
.block-uploader-3 { color: #5decbb; font-size: 17px; margin-bottom: 5px; }
.block-search-4 { color: #759f75; font-size: 12px; margin-bottom: 5px; }